/*
a,
input,
select {
    transition: none !important;
}
*/
a {
    color: #2980b9;
}

a:hover {
	color: #262626;
	text-decoration: underline
}

/*
a:focus {
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

ul,
ol,
dl {
    margin-left: 0;
    margin-bottom: 0;
}


/* admin menus */

#adminmenu,
#adminmenuback,
#adminmenuwrap,
#adminmenu .wp-submenu {
	background: #2c3e50;
	width: 170px;
}
#adminmenuwrap, #adminmenu {background: transparent;}
#adminmenu .wp-submenu li.current {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li:hover {
  background-color: rgba(0, 0, 0, 0.9)
}

#wpcontent,
#wpfooter {
  margin-left: 170px
}

#adminmenu .wp-submenu {
  left: 170px
}

#adminmenu a {
  color: white;
}

#adminmenu div.wp-menu-name {
  font-weight: 300;
  font-size: 14px;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: #1A252F;
  background: rgba(26, 37, 47, 1 /* 0.88  */);
}

#adminmenu div.wp-menu-image:before {
  color: #2c3e50;
  text-shadow: -1px -1px 0 #59ABE3, 1px -1px 0 #59ABE3, -1px 1px 0 #59ABE3, 1px 1px 0 #59ABE3;
  transition: none !important;
}


#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
  color: #fff !important
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub>a.menu-top div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: white
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
  color: #fff;
  background:  #4183D7;
/*
background: #2d6ab7;
background: linear-gradient(to top, #2d6ab7, #498de4);
*/
}

#wpadminbar {
  color: #fff;
  background: #2C3E50;
}

#wp-admin-bar-wp-logo {
  display: none
}


/* plugins */


/* increase contrast */

.plugins .active td,
.plugins .active th,
tr.active + tr.plugin-update-tr .plugin-update,
#contextual-help-back,
.contextual-help-tabs .active,
.contextual-help-tabs .active a,
.contextual-help-tabs .active a:hover,
.theme-overlay .parent-theme {
  background-color: #e3f4f9
}

.alternate,
.striped>tbody>:nth-child(even),
ul.striped>:nth-child(even) {
  background-color: #f5f5f5;
}

.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd) {
  background-color: #fff
}


/* dashboard */

#rg_forms_dashboard {
  background-color: #728BC5
}

#rg_forms_dashboard a {
  color: white
}

#rg_forms_dashboard a:hover {
  color: white;
  text-decoration: underline;
}



select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
#titlediv #title:focus {
  //box-shadow: none; background:#fffff2;
}



select {
  cursor: pointer;
}

.wp-admin select {
  height: 36px;
}

.wrap .add-new-h2 {
  background: #ff6669;
  color: white;
}

.wrap .add-new-h2:active {
  background: #333
}

.wrap .add-new-h2:hover {
  background: #ddd
}
/* smaller search posts + tags inside post */
.search-box input[name="s"],
.tablenav .search-plugins input[name="s"],
.tagsdiv .newtag {
  height: 25px
}
input[type="button"].button.tagadd { height: 30px; padding-top: 8px; }
input[type="submit"]#search-submit { height: 30px; padding-top: 6px; }


/* buttons */

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  display: inline-block;
  padding: 10px 20px;
  color: #555;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: none !important;
  height: auto;
  line-height: 1;
}

.wp-core-ui .welcome-panel .button.button-hero {
    padding: 12px 22px;
}

input#publish.button.button-primary.button-large {
	font-size: 14px;
	padding: 0 25px;
	border-radius: 150px;
	background: #71BA1B;
	background: linear-gradient(to bottom, #71BA1B, #65A718);
	border: 1px solid #63a616;
}

input#publish.button.button-primary.button-large:hover {
  background: #636363;
  border: 1px solid #636363;
  padding: 1px 28px;
  margin-right: -3px;
  margin-top: -1px;
}

/* Spacing
============================================
*/

.tablenav {
    height: auto;
}


/* EXTRA CSS ...here instead of ..in the functions.php file
============================================
============================================

============================================
============================================

============================================
============================================
*/


/* ADMIN BARS SHADOW */

#adminmenuback {
box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
#adminmenuback { box-shadow: inset 2px 35px 8px 0 rgba(0, 0, 0, 1); }

#wpadminbar {
	background: #1f2d3c; /*  #1F2E3C */
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid #3d6082;
}


a {color: #1e77b2;}  /* Choose colors from #0f65ad , #18588E , #1e77b2 */


body
{ background-color: #d4d4da; /* #E0E0E4;*/ }

#wp-content-editor-tools
{ background-color: transparent;
padding-top: 10px;
}

/* buttons ... make white secondary buttons gray */

.wp-core-ui .button,
.wp-core-ui .button-secondary
{
  background: #f7f7f7;
  border: 2px solid #bcc6d1;
  box-shadow: 0 1px 0 #ccc;
}

.button.deletemeta.button-small, /* buttons small border for custom fields and optimize */
.button.updatemeta.button-small,
.button.tagadd, .button.wp-optimize-settings-optimization-run-button
{ border:1px #BCC6D1 solid; }

/*    tree-view green button   */
/*   post update green button   material theme admin search .. -primary   */

p.search-box {
  float: left;
  margin: 5px 0 5px 10px;
}
#post-search-input:focus {
  background: #fdffc7;
  box-shadow: none;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
}


.wp-core-ui .button-primary
{
  color: #FFF;
  background-color: #4dbb2b;
  border: 1px solid #5c9a15;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.wp-core-ui .button-primary:hover {
	background-color: gray;
	border: 1px solid #303030;
}

.wrap .add-new-h2
{
  background: #2ec000;
  color: white;
  border-color: #47c400;
  border-radius: 4px;
}

.categories.column-categories /* collors for "all posts" categories and tags */
a {
  font-family: Verdana;
  font-size: 12px;
  color: #009bde; /* GRAY #606060; */
}
.categories.column-categories
a:hover {color: black;  font-weight: bold; text-decoration: none;} /* for hovering on gray->bold black */

.tags.column-tags
a {
  font-family: Verdana;
  font-size: 11px;
  /*font-weight: bold;*/
  color: #009F00;
  /* COLORS -->  GRAY #606060;  /  FUX  #e271a5;  /  GREEN #009F00; */
}
.tags.column-tags a:hover {
	color: black;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	} /* for hovering on green->black */

td.date.column-date,
td.expirationdate.column-expirationdate
{
  font-family: Verdana; font-size: 11px; line-height: 1.1;
  color: #e271a5;
}
td.ridwpaid.column-ridwpaid, /* for the ID ..if use Adminimize ...or if not*/
td.column-postid.column-column-postid /* for the ID ..if NOT use it*/
{
  vertical-align: middle;
  font-family: Verdana;
  color: black;
}

/* make custom taxonomies green (if they exist) ΟΟ ΟΞ΅ΟΞΉΞΏΟΞ΅Ο for theaters */
td.column-taxonomy
a {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  color: #009F00;
}
td.column-taxonomy
a:hover
{color: #FF1493;  font-size: 12px; text-decoration: none;} /* for hovering on green->fux */
/* ---  */

td.plugin-title.column-primary
{
  font-family: Helvetica;
  color: #395682;
}

/* Remove borders from custom fields */
.cfs_input .field
{
  border-top: 0px !important;
  border-bottom: 0px !important;
}





/*  ----- Fix Tabs in TABIFY ..also "Titles" backround and color -----*/
/* 1 nav tabs */
.nav-tab
{
  background: #6d92b6; /* or entono blue like in menu  #2980b9 */
  color: whitesmoke;
  margin-left: 0px;
  margin-right: .3em;
  font-family: Verdana;
  font-size: 12px;
}

.nav-tab-active
{
  background: #2C3E50;
  color: whitesmoke;
}
.nav-tab:hover
{
  background: #2C3E50;
  text-decoration: none;
  color: whitesmoke;
}

#tab-post, #tab-page, #tab-attachment, #tab-cfs, #tab-theater
{
 color: green;
}


/* 2 post edit...  title and backround */
#titlediv #title
{
  padding: 22px 15px;
  color: white;
  border-radius: 0;
  font-size: 21px;
  border: 0;
  /*background-color: #21476d;*/
  background-color: #5f9e16; /*#5bb126*/
  /*box-shadow: inset 0 4px 10px #001931;*/
  box-shadow: inset 0 4px 10px  #1d4c00;
}
#titlediv #title:focus {
	border: 0;
	outline: 0;
	outline: 2px solid #67cf42;
	color:yellow;
	/*text-shadow: 1px 1px 1px #000000;*/
	background-color:#5f9e16;
}

#titlediv #title-prompt-text { padding: 14px; color: #c0e09d;}


#post-body-content { margin-bottom: 10px; }

#poststuff { padding-top: 3px; }

/*  ----- END OF TABIFY and post title -----*/

 .wp-menu-name
{
  font-family: "Verdana";
}

.postbox-container
 {
  font-family: "Verdana";
  font-size: 9px;
  font-weight: normal !important;
 }

 .cms_tpv_user_can_edit_page_yes
 {
  font-family: "Verdana";
  font-size: 12px;
  line-height: 30px;
 }


#excerpt
 {
  font-family: "Verdana";
  font-size: 14px;
  padding:10px;
 }


.wrap .page-title-action
{
	color: white;
	border-color: #57a000;
	border-radius: 4px;
	background: #6bc700;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	padding-bottom: 5px;
}
.wrap .page-title-action:hover {background: #509400; border-color: #8bff00; color: white;
	text-shadow: none;}

/*  other css  */


/* _Posts lists _plugins list _header */
.posts thead, .posts tfoot,
.pages thead,
.users thead,
.media thead  {
	 /*background: linear-gradient(to bottom, #F6F6F6, #eeedf2 );*/
	/* background: #F6F6F6; */
	 /*background: #ededf1;*/
}


.row-title
{
  font-family: "Tahoma";
  font-size: 13px !important;
  font-weight: bold !important;
}


#the-list tr {}
#the-list tr:hover {
	background: #e0dfe4 ;
	font-weight: bold;
	box-shadow: -2px 0 gray;
	transition: all 800ms ease-in;
	transition-delay: 1s;
	box-shadow: inset -1px 1px 2px 1px #c5c4cc;
}

#the-list tr:hover > td.column-postid{
	transition: all 500ms ease;
	font-size: 15px;
	font-weight: normal;
	background: #5f5b70;
	color: white;
}

.check-column .checked {background: gray;}


.status-private .row-title {color: #fcb22a;}
.status-draft .row-title {color: #afafbc;}





.status-draft span.post-state
{
  background-color: #afafbc;
  padding: 0px 6px 1px 6px;
  color:white;
  font-weight: normal;
  font-size: 12px;
  border-radius: 2px;
}

.status-private span.post-state
{
  /* gray match #afafbc  | or #737CA1  |  green--> #25b61a  |  green lite--> #53C14C */
  background-color: #ffc55e;
  padding: 0px 6px 1px 6px;
  color:white;
  font-weight: normal;
  font-size: 12px;
  border-radius: 2px;
}

.tree-default span.post_type_private { background-color: #F38245; }
/* gray match #afafbc  |  green lite--> #53C14C */

.tree-default span.post_type_draft { background-color: #afafbc; }
/* gray match #afafbc  |  green lite--> #53C14C */

#order-post-type   /* in Reorder Posts Panel  */
{font-family: Verdana; font-weight: bold;}


.row-actions { display: none; }
.plugins .row-actions { display: block; visibility: visible; }



/* to delete the ...Thank you for creating with WordPress. ... below is an example but you better do it with adminimize witfh has --> role etitors

#footer-left,#welcome-panel,#dashboard_primary
{
  display:none;
}

*/

/*  Hide advertising Sidebars from settings and menu */
#footer-left,   /*  down left "by wordpress"  */
#cpt_info_box,  /*  settings - Post Types Order */
#ridwpa_plugins_box,  /*  settings - Reveal IDs */
.cms_tpv_promo_above_wrapper,  /* Right Menu -  Tree View */
.ai1wm-segment,  /* Right Menu -  All-In-One  WP Migration */
.cms_tpv_annoying_little_box,  /*  settings - CMS Tree Page View */
.ac-right  /*  settings - Admin columns */
{
  display: none;
}

.updraft-ad-container.updated { display: none; }  /*  WP-Optimize banner up */



 #newcategory, /* Category input in post-edit input fonts */
 input.newtag.form-input-tip.ui-autocomplete-input  /* Tags input in post-edit input fonts */
{ color: #2e8800; /* #0073AA; */ font-weight: bold; font-size: 14px; font-family: Verdana; }

/* for the messy button in MEDIA screen (images) */
input#post-query-submit.button {float:none;}

/* for the text in MEDIA screen (images) */
.column-parent, td.title.column-title {font-family: Tahoma;}

/* reduce "add media" button inside posts  */
button.insert-media.add_media {padding: 6px;}


.column-59d4c5bdad6d5 { display: none; }

/* HIDE featured image from "admin posts pane" ("Admin columns id")  */
td.column-59d74690baf8b,
th.column-59d74690baf8b { display: none; }


/* Sola Ticket : Colors an placing fix */
.ticket_author, .ticket_contents.ticket_contents_response, .ticket_contents
{ clear: both; margin-top: ; margin-bottom: 10px;}

.ticket_subject { font-family: Tahoma; color:#2980b9; }

button#sola_st_delete_ticket { margin:-20px 0 20px 0 ; }

button#submit_ticket_response { background: #1491e2; color:white; font-weight: bold; font-family: Tahoma;
border: 2px solid #1491e2; }

button#submit_ticket_response:hover { background: #0881D1; border: 2px solid #0881D1; }

/* for the input in settings->media->thumb sizes */
input, input.small-text, select {
padding: 0 0 0 5px;
}

/* wsdesk Ticket narrow sidebar left */
.wsdesk_wrapper .col-md-3 { width: 20%; }

/* admin-bar  comments */
#wp-admin-bar-comments { display: none; }


/*  left SIDEBAR lite shadow
#adminmenuback
{
box-shadow: 6px 0 4px -5px #69717a;
}
*/

/* in Admin color plugin when we add thumbnails --> field width:56px;  and img width:50px - height: 34px */


/*  -------  Use "Ad Admin CSS" plugin for site specific extra changes ---------- */




/* /////////////    FOR DEV  ////////////////*/

input#expirationdate_day, input#expirationdate_minute {padding: 0 4px; }

.html-active .switch-html, .tmce-active .switch-tmce {
    font-weight: 700;
    font-family: sans-serif;
}

/* #mceu_26  POST EDITOR header ...site specific*/
.mce-toolbar-grp.mce-container.mce-panel.mce-first.mce-last {
  background: linear-gradient(to bottom, #F6F6F6, #eeedf2);
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}



/* header custom fields + #mceu_26  post editor header*/
#poststuff .stuffbox>h3, #poststuff h2, #poststuff h3.hndle {
/* background: rgba(0, 0, 0, 0.06);  modern FLAT */
  background: #F6F6F6;
  background: linear-gradient(to bottom, #F6F6F6, #eeedf2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* margintop for inside the custom fields*/
#poststuff .inside {
margin: 20px 0 0 0;
animation: animate-fade-in 500ms ease-in-out 0ms 1 normal;
}

/* bostbox closed arrow  circle gray*/
 .js .postbox.closed .handlediv .toggle-indicator:before { background: #d4d4d4; }

/* Permalink Slug*/
#editable-post-name {
    color: #006df7 ;
    font-size: 15px;
    padding: 4px;
  }


/* -------- ACF -------------- */

.acf-switch.-on {
    background: #6fb71b !important;
    border-color: #589614 !important;
}
.acf-switch.-on .acf-switch-slider {
    left: 50%;
    right: 2px;
    border-color: #5e961c  !important;
}



/*   ----------   Aesthetics  -  loaders and stuff   ---------  */
/*   The KEYFRAMES FIRST */
@-webkit-keyframes animate-fade-in { 0% { opacity: 0;  } 100% { opacity: 1;  } }
@-moz-keyframes animate-fade-in { 0% { opacity: 0;  } 100% { opacity: 1;  } }
@-o-keyframes animate-fade-in { 0% { opacity: 0;  } 100% { opacity: 1;  } }
@-ms-keyframes animate-fade-in { 0% { opacity: 0;  } 100% { opacity: 1;  } }
@keyframes animate-fade-in { 0% { opacity: 0;  } 100% { opacity: 1;  } }
/*   KEYFRAMES END   */



/* ----- LIST ROW TR POSTS HEIGH  _posts list  _postlist -----*/
.widefat td, .widefat th {
  box-sizing: content-box;
  vertical-align: middle;
  padding: 6px;
  line-height: 1.4em;
}
.widefat th input {
  vertical-align: middle;
  margin-top: -13px;
  padding: 0px;
}
.check-column {margin-top: -15px; vertical-align: middle;}

/* .column-permalink a { font-size: 12px; } */


/* -----  _ACF post list  -----*/
/* acf thumbnails */
.ac-image.cpac-cover { margin-bottom: 0px; transition: all 300ms ease;}
.ac-image.cpac-cover:hover {
	transform: scale(3.5);
	box-shadow: 0px 2px 8px #2d3e50;
	outline: 1px solid black;
	z-index: 10000;
}

/* -----  post editor markdown  theme xq-dark   -----*/
.CodeMirror pre {
  font-family: Verdana;
  color: gray;
}


/* -----  _ACF FIELDS TEST  -----*/
.acf-field-5deb93c879239,
.acf-field-5debbd3c07b1e {
	width: 49%;
	display: inline-block;
	float: left;
	clear: none !important;
}
.acf-field-5debbd3c07b1e {
	float: right;
}

/* _media icon image icon thumbnails for uploade images */

.media-icon img:hover {
	transform: scale(2);
	transition: all 300ms ease;
	border: 0;
}


/* _help up right admin + version down right */
#contextual-help-link, #footer-upgrade { display: none; }



/* -----------    _TAGS inside post editor ------------*/
.tagchecklist { margin-left: 0; }

.tagchecklist>li {
  margin-right: 5px;
  line-height: 1;
  padding: 4px 7px 5px 16px;
  background: #79C41E;
  background: -webkit-linear-gradient(top, #79C41E, #69AD18);
  background: -moz-linear-gradient(top, #79C41E, #69AD18);
  background: linear-gradient(to bottom, #79C41E, #69AD18);
  color: white;  /* COLOR TEXT */
  border-radius: 15px 0 0 16px;
  font-family: Arial;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}

.tagchecklist .ntdelbutton .remove-tag-icon:before {
	margin-left: 3px;
	color: rgba(255,255,255, 1); /* COLOR cdark green */
	line-height: 0.9;
	font-size: 12px;
}


/* [ 1 ]  TAGS // GRAY-PURPLE ..DARK  */

.tagchecklist>li { background: #797996; text-shadow: none; letter-spacing: 0.5px;}
.tagchecklist .ntdelbutton .remove-tag-icon:before { 	color: rgb(220, 220, 236); }




/* [ 2  ]  TAGS // GRAY 3D very lite  Classic

.tagchecklist>li { border: 1px solid rgba(0,0,0, 0.08); background: #eeedf2; color:rgba(68, 62, 97,1); box-shadow: 0 0.5px 1px 0 #cccccc; text-shadow: none;}
.tagchecklist .ntdelbutton .remove-tag-icon:before { 	color: rgba(112, 106, 140, 1); }
*/


/* [ 3  ]  TAGS // TEMPLATE BLUE

.tagchecklist>li {
  background: #598ab9; border-radius: 3px; font-weight: normal;
  font-size: 14px; font-family: Verdana; }
.tagchecklist .ntdelbutton .remove-tag-icon:before { color: rgba(255, 255, 255, 1);}
*/


/* Category color
#categorychecklist {color: #009bde; }
*/

/* -----------  END //  _TAGS inside post editor ------------*/

