a,
input,
select {
    transition: none !important;
}

a {
    color: #2980b9;
}

a:hover {
    color: #262626;
    text-decoration: underline
}


a:focus {
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

ul,
ol,
dl {
    margin-left: 0;
    margin-bottom: 0;
}


/* admin menus */

#adminmenu,
#adminmenuback,
#adminmenuwrap,
#adminmenu .wp-submenu {
    background: #2c3e50;
    width: 200px;
}

#adminmenu .wp-submenu li.current {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li:hover {
    background-color: rgba(0, 0, 0, 0.25)
}

#wpcontent,
#wpfooter {
    margin-left: 200px
}

#adminmenu .wp-submenu {
    left: 200px
}

#adminmenu a {
    color: white;
}

#adminmenu div.wp-menu-name {
    font-weight: 300;
    font-size: 14px;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
    background: #1A252F;
    background: rgba(26, 37, 47, 0.88);
}

#adminmenu div.wp-menu-image:before {
    color: #2c3e50;
    text-shadow: -1px -1px 0 #59ABE3, 1px -1px 0 #59ABE3, -1px 1px 0 #59ABE3, 1px 1px 0 #59ABE3;
    transition: none !important;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
    color: #fff !important
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub>a.menu-top div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
    color: white
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    color: #fff;
    background: #4183D7;
}

#wpadminbar {
    color: #fff;
    background: #2C3E50;
}

#wp-admin-bar-wp-logo {
    display: none
}


/* plugins */


/* increase contrast */

.plugins .active td,
.plugins .active th,
tr.active + tr.plugin-update-tr .plugin-update,
#contextual-help-back,
.contextual-help-tabs .active,
.contextual-help-tabs .active a,
.contextual-help-tabs .active a:hover,
.theme-overlay .parent-theme {
    background-color: #e3f4f9
}

.alternate,
.striped>tbody>:nth-child(even),
ul.striped>:nth-child(even) {
    background-color: #f0f0f0
}

.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd) {
    background-color: #fff
}


/* dashboard */

#rg_forms_dashboard {
    background-color: #728BC5
}

#rg_forms_dashboard a {
    color: white
}

#rg_forms_dashboard a:hover {
    color: white;
    text-decoration: underline;
}

input,
input.small-text,
select {
    padding: 8px;
}

select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
#titlediv #title:focus {
    box-shadow: none;
}

input[type=checkbox]:focus {
    box-shadow: none;
    outline: none;
}

select {
    cursor: pointer;
}

.wp-admin select {
    height: 36px;
    line-height: 36px;
}

.wrap .add-new-h2 {
    background: #ff6669;
    color: white;
}

.wrap .add-new-h2:active {
    background: #333
}

.wrap .add-new-h2:hover {
    background: #ddd
}

.search-box input[name="s"],
.tablenav .search-plugins input[name="s"],
.tagsdiv .newtag {
    height: 36px
}


/* buttons */

.wp-core-ui .button,
.wp-core-ui .button-secondary {
    display: inline-block;
    padding: 10px 20px;
    color: #555;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: none !important;
    height: auto;
    line-height: 1;
}

.wp-core-ui .button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05)
}

.wp-core-ui .welcome-panel .button.button-hero {
    padding: 12px 22px;
}

input#publish {
    border-radius: 150px;
}


/* Spacing
============================================
*/

.tablenav {
    height: auto;
}


/* EXTRA CSS ...here instead of ..in the functions.php file
============================================
============================================
*/

a {color: #1e77b2;}  /* Choose colors from #0f65ad , #18588E , #1e77b2 */ 


/*    darker body   */ 

body 
{ background-color: #E0E0E4; }

#wp-content-editor-tools 
{ background-color: transparent; }

/* buttons ... make white secondary buttons gray */

.wp-core-ui .button,
.wp-core-ui .button-secondary 
{
    background: #f7f7f7;
    border: 2px solid #bcc6d1;
    box-shadow: 0 1px 0 #ccc;
}

.button.deletemeta.button-small, /* buttons small border for custom fields and optimize */
.button.updatemeta.button-small,
.button.tagadd, .button.wp-optimize-settings-optimization-run-button
{ border:1px #BCC6D1 solid; }

/*    tree-view green button   */     
/*   post update green button   material theme admin search .. -primary   */     

.wp-core-ui .button-primary 
{
  color: #FFF;
  background-color: #2ec000;
  border-color: #47c400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05)
  font-weight: bold;
}

.wrap .add-new-h2 
{
  background: #2ec000;
  color: white;
  border-color: #47c400;
  border-radius: 4px;
}

.categories.column-categories /* collors for "all posts" categories and tags */
a {
  font-family: Verdana;
  font-size: 12px;
  color: #606060;
}
.categories.column-categories 
a:hover {color: black;  font-weight: bold; text-decoration: none;} /* for hovering on gray->bold black */

.tags.column-tags
a {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  color: #009F00;
}
.tags.column-tags a:hover {color: #FF1493;  font-size: 12px; text-decoration: none;} /* for hovering on green->fux */

td.date.column-date, 
td.expirationdate.column-expirationdate 
{
  font-family: Verdana;
  color: rgb(214, 104, 131);
}
td.ridwpaid.column-ridwpaid, /* for the ID ..if use Adminimize ...or if not*/
td.column-postid.column-column-postid /* for the ID ..if NOT use it*/
{
  font-family: Verdana;
  color: black;
}

/* make custom taxonomies green (if they exist) πχ περιοχες for theaters */
td.column-taxonomy
a {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  color: #009F00;
}
td.column-taxonomy
a:hover 
{color: #FF1493;  font-size: 12px; text-decoration: none;} /* for hovering on green->fux */
/* ---  */

td.plugin-title.column-primary
{
  font-family: Helvetica;
  color: #395682;
}

/* Remove borders from custom fields */
.cfs_input .field 
{
  border-top: 0px !important;
  border-bottom: 0px !important;
}

/*  other css  */     
.row-title
{
  font-family: "Tahoma";
  font-size: 11px !important;
  font-weight: bold !important;
} 

.status-private .row-title {color: #fcb22a;} 
.status-draft .row-title {color: #afafbc;} 

/*
.row-title:hover
{
  background-color: #4f8df7 !important;
  color: #fff !important;
  text-decoration: none !important;
  padding:2px 10px 3px 10px !important;              
 } 
 */  

/*  ----- Fix Tabs in TABIFY ..also "Titles" backround and color -----*/
/* 1 nav tabs */
.nav-tab 
{
  background: #6d92b6; /* or entono blue like in menu  #2980b9 */
  color: whitesmoke;
  margin-left: 0px;
  margin-right: .3em;
  font-family: Verdana;
  font-size: 12px;
}

.nav-tab-active 
{
  background: #2C3E50;
  color: whitesmoke;
}
.nav-tab:hover 
{
  background: #2C3E50; 
  text-decoration: none;
  color: whitesmoke;
}

#tab-post, #tab-page, #tab-attachment, #tab-cfs, #tab-theater
{
 color: green;
}

/* 2 post edit...  title and backround */
#titlediv #title 
{
  padding: 3px 12px;
  height: 2em;
  color: whitesmoke;
  background-color: #2C3E50;
}

#post-body-content { margin-bottom: 10px; }

#poststuff { padding-top: 3px; }

/*  ----- END OF TABIFY and post title -----*/

 .wp-menu-name
{
  font-family: "Verdana";
} 
 
 .postbox-container
 {
  font-family: "Verdana";
  font-size: 9px;
  font-weight: normal !important;  
 }

 .cms_tpv_user_can_edit_page_yes
 {
  font-family: "Verdana";
  font-size: 12px;
  line-height: 30px;
 }

#excerpt
 {
  font-family: "Verdana";
  font-size: 12px;
  font-weight: normal !important;  
 }

#publish { background-color: #2ec000; }

.wrap .page-title-action
{
  background: #2ec000;
  color: white;
  border-color: #47c400;
  border-radius: 4px;
}



/*  bigger Jigoshop thumbnails in -> products       */
.widefat td, .widefat th 
{
  box-sizing:content-box;
  padding: 4px 0px 4px 6px;
  line-height: 0.9em;
}

.widefat th input { margin: -5px 0 0 8px; }


/* more space in tags column */
td.tags.column-tags { vertical-align: middle;} 
/* more space in categories column */
td.categories.column-categories { vertical-align: middle;}
/* more space in ID column */
td.ridwpaid.column-ridwpaid { vertical-align: middle;} 
/* more space in title */
td.title.column-title { vertical-align: middle;} 



.status-draft span.post-state  
{
  background-color: #afafbc; 
  padding: 0px 6px 1px 6px;
  color:white;
  font-weight: normal;
  font-size: 12px;
  border-radius: 2px;
}

.status-private span.post-state
{
  /* gray match #afafbc  | or #737CA1  |  green--> #25b61a  |  green lite--> #53C14C */
  background-color: #ffc55e;  
  padding: 0px 6px 1px 6px;
  color:white;
  font-weight: normal;
  font-size: 12px;
  border-radius: 2px;
}

.tree-default span.post_type_private { background-color: #F38245; } 
/* gray match #afafbc  |  green lite--> #53C14C */

.tree-default span.post_type_draft { background-color: #afafbc; } 
/* gray match #afafbc  |  green lite--> #53C14C */

#order-post-type   /* in Reorder Posts Panel  */
{font-family: Verdana; font-weight: bold;}


.row-actions { margin-top: 2px; display: none; }
.plugins .row-actions { display: block; visibility: visible; }


.cpac-column-value-image
{
  border:1px #e8e8e8 solid;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.cpac-column-value-image:hover, .cpac-column-value-image:focus, .cpac-column-value-image:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/*  for smaller fonts in "dashboard notes" */
.wp-dashboard-note.ui-sortable  {font-size: 12px;}


/* to delete the ...Thank you for creating with WordPress. ... below is an example but you better do it with adminimize witfh has --> role etitors

#footer-left,#welcome-panel,#dashboard_primary
{
  display:none;
}

*/

/*  Hide advertising Sidebars from settings and menu */
#footer-left,   /*  down left "by wordpress"  */
#cpt_info_box,  /*  settings - Post Types Order */
#ridwpa_plugins_box,  /*  settings - Reveal IDs */
.cms_tpv_promo_above_wrapper,  /* Right Menu -  Tree View */
.ai1wm-segment,  /* Right Menu -  All-In-One  WP Migration */
.cms_tpv_annoying_little_box,  /*  settings - CMS Tree Page View */
.ac-right  /*  settings - Admin columns */
{
  display: none;
}

.updraft-ad-container.updated { display: none; }  /*  WP-Optimize banner up */



 #newcategory, /* Category input in post-edit input fonts */
 input.newtag.form-input-tip.ui-autocomplete-input  /* Tags input in post-edit input fonts */
{ color: #0073AA; font-weight: bold; font-size: 14px; font-family: Verdana; }

/*  left SIDEBAR lite shadow 
#adminmenuback
{
box-shadow: 6px 0 4px -5px #69717a;
}
*/

/* in Admin color plugin when we add thumbnails --> field width:56px;  and img width:50px - height: 34px */


/*  -------  Use "Ad Admin CSS" plugin for site specific extra changes ---------- */

